altgraph==0.17.5
certifi==2025.11.12
charset-normalizer==3.4.4
click==8.3.1
colorama==0.4.6
docutils==0.22.4
et_xmlfile==2.0.0
filetype==1.2.0
Flask==3.1.2
idna==3.11
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3
numpy==2.4.2
openpyxl==3.1.5
packaging==25.0
pandas==3.0.0
python-dateutil==2.9.0.post0
pywin32==311
pywin32-ctypes==0.2.3
setuptools==80.9.0
shiboken6==6.10.1
six==1.17.0
tzdata==2025.3
urllib3==2.6.2
Werkzeug==3.1.4
